{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>Главная страница</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
	 <header>
        <div class="container">
            <div class="body__header">
                <div class="img_ava_block">
                    <img class="img_ava_med" src="logo 1.png">
                </div>
                <div class="header_body_p">
                    <p class="text_header">Каталог</p>
                    <p class="text_header">Оплата и доставка</p>
                    <p class="text_header">О нас</p>
                    <p class="text_header">Фермерские магазины</p>
                    <p class="text_header">Контакты</p>
                    <p class="text_header_number">+7 (918) 3342-888</p>
                    <img class="shop_img" src="shopping-cart (1) 1.svg">
                    <div class="block_shop"><p>0</p></div>


                <div><img src="Group 1034.svg" class="tablet_menu_bugger" ></div>
                <img class="shop_img_tablet" src="shopping-cart (1) 1.svg">
                <div class="block_shop_tablet"><p>0<p></div>
                </div>
            </div>
        </div>
    </header> 
    
    <section class="bg_med">
        <div class="container_img">
                <div class="bg_med_img" >
                    <div class="block_text">
                        <p class="famaly_text">СЕМЕЙНАЯ<br> ПАСЕКА В ГОРАХ</p>
                        <p class="opis_text_mini">Экологически чистый мёд с заботой о вашем здоровье</p>
                        <button class="but_bg">Подробнее</button>
                    </div>
                </div>

            <div class="container_img">
                <div class="bg_med_img_tablet">
                    <div class="block_text_tablet">
                        <div class="med_tablet">
                            <img class="med_tablet_img">
                        </div>
                        <p class="famaly_text_tablet">СЕМЕЙНАЯ<br> ПАСЕКА В ГОРАХ</p>
                        <p class="opis_text_mini_tablet">Экологически чистый мёд с заботой о вашем здоровье</p>
                        <button class="but_bg_tablet">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <div class="med_price">
    <div class="one_med">
        <div class="text_but_med">
            <div class="img_med">
                <img src="one_med.png">
            </div>
            <p class="text_glav_med">Мёд горный</p>
            <p class="kg">0.5 кг</p>
            <div class="flex_but_price">
                <p class="price">350 ₽</p>
                <button class="but_med">В корзину</button>
            </div>
        </div>

        <div class="text_but_med">
            <div class="img_med">
                <img src="two_med.png">
            </div>
            <p class="text_glav_med">Мёд горный</p>
            <p class="kg">0.5 кг</p>
            <div class="flex_but_price">
                <p class="price">350 ₽</p>
                <button class="but_med">В корзину</button>
            </div>
        </div>

        <div class="text_but_med">
            <div class="img_med">
                <img src="free_med.png">
            </div>
            <p class="text_glav_med">Мёд горный</p>
            <p class="kg">0.5 кг</p>
            <div class="flex_but_price">
                <p class="price">350 ₽</p>
                <button class="but_med">В корзину</button>
            </div>
        </div>
    </div>

    <div class="one_med">
        <div class="text_but_med">
            <div class="img_med">
                <img src="four_med.png">
            </div>
            <p class="text_glav_med">Мёд горный</p>
            <p class="kg">0.5 кг</p>
            <div class="flex_but_price">
                <p class="price">350 ₽</p>
                <button class="but_med">В корзину</button>
            </div>
        </div>

        <div class="text_but_med">
            <div class="img_med">
                <img src="five_med.png">
            </div>
            <p class="text_glav_med">Мёд горный</p>
            <p class="kg">0.5 кг</p>
            <div class="flex_but_price">
                <p class="price">350 ₽</p>
                <button class="but_med">В корзину</button>
            </div>
        </div>

        <div class="text_but_med">
            <div class="img_med">
                <img src="six_med.png">
            </div>
            <p class="text_glav_med">Мёд горный</p>
            <p class="kg">0.5 кг</p>
            <div class="flex_but_price">
                <p class="price">350 ₽</p>
                <button class="but_med">В корзину</button>
            </div>
        </div>
    </div>

    <div class="one_med">
        <div class="text_but_med">
            <div class="img_med">
                <img src="seven_med.png">
            </div>
            <p class="text_glav_med">Мёд горный</p>
            <p class="kg">0.5 кг</p>
            <div class="flex_but_price">
                <p class="price">350 ₽</p>
                <button class="but_med">В корзину</button>
            </div>
        </div>

        <div class="text_but_med">
            <div class="img_med">
                <img src="seven_med.png">
            </div>
            <p class="text_glav_med">Мёд горный</p>
            <p class="kg">0.5 кг</p>
            <div class="flex_but_price">
                <p class="price">350 ₽</p>
                <button class="but_med">В корзину</button>
            </div>
        </div>

        <div class="text_but_med">
            <div class="img_med">
                <img src="nine_med.png">
            </div>
            <p class="text_glav_med">Мёд горный</p>
            <p class="kg">0.5 кг</p>
            <div class="flex_but_price">
                <p class="price">350 ₽</p>
                <button class="but_med">В корзину</button>
            </div>
        </div>
    </div>

    <div class="one_med">
        <div class="text_but_med">
            <div class="img_med">
                <img src="ten_med.png">
            </div>
            <p class="text_glav_med">Мёд горный</p>
            <p class="kg">0.5 кг</p>
            <div class="flex_but_price">
                <p class="price">350 ₽</p>
                <button class="but_med">В корзину</button>
            </div>
        </div>

        <div class="text_but_med">
            <div class="img_med">
                <img src="11_med.png">
            </div>
            <p class="text_glav_med">Мёд горный</p>
            <p class="kg">0.5 кг</p>
            <div class="flex_but_price">
                <p class="price">350 ₽</p>
                <button class="but_med">В корзину</button>
            </div>
        </div>

    </div>
    </div>
</body>
</html>